* {letter-spacing: -0.5px;}

/* HEADER */
header {position: relative; z-index: 3;}

#gnb {position: absolute; /*overflow: hidden;*/ left: 0; right: 0; margin-top: 33px; margin-bottom: 31px; height: 46px; }
#gnb h1 {position: absolute; margin-top: 2px; padding: 7px 0; left: 50%; margin-left: -79px;}
#gnb h1 a {display: inline-block; width: 157px; height: 29px; background-image: url(../img/logo.png); text-indent: -9999px;}
#gnb .menuList {overflow: hidden; margin-top: 11px;}
#gnb ul li {float: left;}
#gnb ul li+li:before {content: ""; display: inline-block; margin: 0 7px 0 8px; width: 1px; height: 11px; background-color: #888; vertical-align: middle;}
#gnb ul li a {font-size: 12px; color: #111;}
#gnb ul li a:hover {text-decoration: underline;}
#gnb .left_gnb {float: left; height: 32px; }
#gnb .left_gnb .menuList li a.down {position: relative; padding-left: 24px;}
#gnb .left_gnb .menuList li a .download {position: absolute; display: inline-block; left: 5px; top: 3px; width: 18px; height: 13px; background-image: url(../img/icon.png); background-position: -223px -625px;}
#gnb .right_gnb {float: right; height: 32px; }
#gnb .right_gnb .menuList {float: left; padding-right: 83px;}
#gnb .right_gnb .btn_menu {position: absolute; top: -13px; right: 0; }
#gnb .right_gnb .btn_menu input {}
#gnb .right_gnb .btn_menu label {position: relative; display: block; width: 65px; height: 70px; background-color: #0daa62; font-size: 12px; color: #fff; text-align: center;}
#gnb .right_gnb .btn_menu label i {position: absolute; left: 23px; width: 19px; height: 3px; background-color: #fff;}
#gnb .right_gnb .btn_menu label i:nth-child(1) {top: 15px;}
#gnb .right_gnb .btn_menu label i:nth-child(2) {top: 22px;}
#gnb .right_gnb .btn_menu label i:nth-child(3) {top: 29px;}
#gnb .right_gnb .btn_menu label span {position: absolute; display: block; top: 42px; left: 9px; font-size: 12px; color: #fff;}

/* FOOTER */
footer {padding: 0 0 50px;}
footer .ftTop {height: 120px; background-image: url(../img/footer_banner_01.jpg);}
footer .ftTop a.ftbanner {display: block; position: absolute; top: 0; margin-top: -22px; left: 0; width: 1100px; height: 142px; background-image: url(../img/footer_banner_02.png);}
footer nav {padding: 17px 0 17px; margin-bottom: 25px; height: 52px; text-align: center; font-size: 0;  white-space: nowrap; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
footer nav a {font-size: 12px; letter-spacing: -1px; color: #555;}
footer nav a:nth-child(2) {font-weight: bold; color: #111;}
footer nav a:hover {color: #297fb8; text-decoration: underline;}
footer nav a:hover:nth-child(2) {color: #111; text-decoration: underline;}
footer nav a+a {margin-left: 88px;}
footer .ftCnt {overflow: hidden; margin-bottom: 44px; height: 114px;}
footer .ftCnt h2 {float: left; margin-top: 44px; width: 131px; height: 25px; background-image: url(../img/footer_logo.png); text-indent: -9999px;}
footer .ftCnt address {position: relative; float: left; padding-right: 100px; margin-left: 50px;}
footer .ftCnt address a {position: absolute; top: 22px; left: 560px; padding: 1px 2px; background-color: #787878; font-size: 4px; color: #fff;}
footer .ftCnt address span {display: block; font-size: 12px; line-height: 19px; color: #888; text-align: left;}
footer .ftCnt .sns {position: absolute; top: 0; right: 0; width: 250px; height: 114px;}
footer .ftCnt .sns ul {overflow: hidden;}
footer .ftCnt .sns ul li {float: left; width: 112px; height: 30px; margin-left: 12px; margin-bottom: 8px;}
footer .ftCnt .sns ul li a {overflow: hidden; display: block;}
footer .ftCnt .sns ul li a .thumb {float: left; margin-right: 9px; width: 30px; height: 30px; background-image: url(../img/footer_sns.png);}
footer .ftCnt .sns ul li:nth-child(1) a .thumb {background-position: -45px 0;}
footer .ftCnt .sns ul li:nth-child(2) a .thumb {background-position: 0 0;}
footer .ftCnt .sns ul li:nth-child(3) a .thumb {background-position: -90px 0;}
footer .ftCnt .sns ul li:nth-child(4) a .thumb {background-position: -45px -45px;}
footer .ftCnt .sns ul li:nth-child(5) a .thumb {background-position: -90px -45px;}
footer .ftCnt .sns ul li:nth-child(6) a .thumb {background-position: 0 -45px;}
footer .ftCnt .sns ul li a .tit {float: left; margin-top: 6px; font-size: 12px; color: #555;}
footer .ftCnt .sns ul li a:hover .tit {text-decoration: underline;}
footer .ftAward {}
footer .ftAward a {display: block; height: 45px; background-image: url(../img/footer_award.png);}


/* CONTAINER */
#container {}
#container #bannerfix {position: absolute; z-index: 2; top: 270px; left: 50%; margin-left: -846px; width: 326px; height: 623px; background-image: url(../img/bannerfix.png);}
#container #bannerfix a {position: absolute; top: 150px; left: 15px; width: 202px; height: 83px; }
#container aside {position: absolute; top: auto; bottom: 454px;}
#container aside .asidenav {position: fixed; padding-bottom: 88px; padding-top: 110px; top: 0; left: 50%; margin-left: 570px; z-index: 99;}
#container aside .asidenav a {display: block; margin-bottom: 10px; width: 112px;}

/* #container ~ */
#serchWrap {overflow: hidden; padding-top: 110px; height: 927px; min-width: 1100px; background-image: url(../img/main_bg.jpg);}
#serchWrap h2 {position: relative; font-size: 20px; color: #111; font-weight: bold;}
#serchWrap h2 a {position: absolute; top: 50%; right: 0; margin-top: -9px; padding-right: 14px; font-size: 13px; color: #555; font-weight: normal;}
#serchWrap h2 a:after {content: ""; position: absolute; top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-image: url(../img/icon.png); background-position: -158px -50px;}
#serchWrap h2 a:hover:after {background-position: -173px -50px;}
#serchWrap h2 a:hover {text-decoration: underline; color: #72aad0;}
#serchWrap .leftArea {float: left; width: 580px;}
#serchWrap .rightArea {float: right; width: 500px;}

/* #container .serchWrap .leftArea ~ */
#KeywordInput {padding: 23px 30px 0; margin-bottom: 20px; height: 174px; background-color: #36ad5b;}
#KeywordInput h2 {margin-bottom: 18px; color: #fff;}
#KeywordInput .serchBar {/*width: 520px;*/position: relative; z-index: 3;/*overflow: hidden;*/ height: 44px; background-color: #fff; border-radius: 2px;}
#KeywordInput .serchBar .start {float: left; height: 100%;}
#KeywordInput .serchBar .start input {}
#KeywordInput .serchBar .start .startBtn {display: block; padding: 0 15px; width: 136px; height: 100%; background-color: transparent; border-right: 1px solid #ddd;}
#KeywordInput .serchBar .start #startBtn {display: block; position: absolute; left: -9999px;}
#KeywordInput .serchBar .start .startBtn span {position: relative; display: block; }
#KeywordInput .serchBar .start .startBtn span:before {content:"인천/서울출발"; padding-right: 20px; line-height: 42px; font-weight: 500; font-size: 14px; letter-spacing: -1px;}
#KeywordInput .serchBar .start .startBtn span:after {content: ""; position: absolute; top: 20px; right: 0; width: 9px; height: 5px; background-image: url(../img/icon.png); background-position: -253px 0;}
#KeywordInput .serchBar .start ul {display: none; position: absolute; width: 136px; padding: 9px; left: 0;  border: 1px solid #333; color: #333; background-color: #fff;}
#KeywordInput .serchBar .start ul li label {display: block; width: 116px; padding: 0 0 0 5px; height: 28px; font-size: 13px; line-height: 25px; /*background-color: #3f4b5b;*/ /*border: 1px solid #3f4b5b;*/}

#KeywordInput .serchBar .inputBox {float: left; padding: 10px 13px;}
#KeywordInput .serchBar .inputBox input[type=text] {float: left; width: 267px; padding: 1px 0; height: 24px; background-color: transparent; color: #111;  font-weight: bold; font-size: 14px; }
#KeywordInput .serchBar .inputBox input[type=text]::placeholder {font-weight: bold; color: #7e7e7e;}
#KeywordInput .serchBar .inputBox input[type=submit] {position: absolute; top: 0; right: 0; display: block; height: 100%; width: 91px; background-color: #0e7940; font-size: 15px; color: #fff;}
#KeywordInput .serchBar .inputBox .textDetail {display: none; position: absolute; top: 44px; left: 135px; width: 385px; background-color: #fff; font-size: 12px; font-weight: normal; border: 1px solid #333; color: #111;} 
#KeywordInput .serchBar .inputBox :focus~.textDetail {display: block;}
#KeywordInput .serchBar .inputBox .textDetail .infoTop {padding-left: 12px; line-height: 30px; border-bottom: 1px solid #e9dfa6; background-color: #fffeeb;}
#KeywordInput .serchBar .inputBox .textDetail .infoTop i {color: #ed4949; font-style: normal;}
#KeywordInput .serchBar .inputBox .textDetail .infoTop span {}
#KeywordInput .serchBar .inputBox .textDetail .infoBottom {height: 160px; padding: 26px 14px 28px;}
#KeywordInput .serchBar .inputBox .textDetail .infoBottom span {display: block;}
#KeywordInput .serchBar .inputBox .textDetail .infoBottom span.bold {font-weight: bold;}
#KeywordInput .serchBar .inputBox .textDetail .infoBottom .btTop {margin-bottom: 14px; font-size: 13px; line-height: 19px;}
#KeywordInput .serchBar .inputBox .textDetail .infoBottom .btBottom {font-size: 12px;  color: #555; line-height: 18px;}
#KeywordInput .popularList {padding-top: 12px; margin-left: 48px}
#KeywordInput .popularList span {position: relative; float: left;}
#KeywordInput .popularList a {font-size: 13px; color: #fff;}
#KeywordInput .popularList span+span {margin-left: 19px;}
#KeywordInput .popularList span+span:before {content: ""; position: absolute; top: 9px; left: -10px; width: 1px; height: 10px; background-color: #7dca8c;}
#KeywordInput .popularList span a:hover {text-decoration: underline;}
#KeywordInput .popularList .total {position: relative; float: right; padding-right: 10px; margin-top: 3px; color: #9effb3;}
#KeywordInput .popularList .total:hover {text-decoration: underline;}
#KeywordInput .popularList .total:after {content: ""; position: absolute; top: 6px; right: 0; width: 5px; height: 9px; background-image: url(../img/icon.png); background-position: -296px -36px;}


#KeywordInput #serch #startBtn:focus~ul,
#KeywordInput #serch ul:hover {display: block;}
#KeywordInput #serch #ICN:checked~ul li:nth-child(1) label,
#KeywordInput #serch #PUS:checked~ul li:nth-child(2) label,
#KeywordInput #serch #TAE:checked~ul li:nth-child(3) label,
#KeywordInput #serch #KWJ:checked~ul li:nth-child(4) label,
#KeywordInput #serch #CJJ:checked~ul li:nth-child(5) label,
#KeywordInput #serch #JEU:checked~ul li:nth-child(6) label,
#KeywordInput #serch #YNY:checked~ul li:nth-child(7) label {background-color: #3f4b5b; color: #fff;}
.start #ICN:checked~.startBtn span:before {content: "인천/서울출발";}
.start #PUS:checked~.startBtn span:before {content: "부산출발";}
.start #TAE:checked~.startBtn span:before {content: "대구출발";}
.start #KWJ:checked~.startBtn span:before {content: "무안출발";}
.start #CJJ:checked~.startBtn span:before {content: "청주출발";}
.start #JEU:checked~.startBtn span:before {content: "제주출발";}
.start #YNY:checked~.startBtn span:before {content: "양양출발";}


#foreignPack {padding: 25px 30px 0; margin-bottom: 20px; height: 367px; background-color: #fff;}
#foreignPack h2 {padding-bottom: 10px; border-bottom: 1px solid #ccc;}
#foreignPack ul {padding-top: 24px;}
#foreignPack ul li {float: left; width: 130px; height: 116px; margin-bottom: 20px; text-align: center;}
#foreignPack ul li a { display: block;}
#foreignPack ul li a span {display: block;}
#foreignPack ul li a span.thumb {position: relative; margin: auto; width: 88px; height: 88px;}
#foreignPack ul li:not(:last-of-type) a:hover span.thumb:after {content: ""; position: absolute; top: 0; left: 0;  bottom: 0; right: 0; display: block; border: 2px solid #38ae4f; border-radius: 50%;}
#foreignPack ul li a span.thumb img {}
#foreignPack ul li a span.info {display: block; margin-top: 10px; bottom: 0; color: #111; font-size: 14px;}
#foreignPack ul li a:hover span.info {color: #0daa62;}

#themeTravel {padding-top: 23px; padding-left: 16px; height: 176px; background-color: #fff;}
#themeTravel h2 {padding-left: 13px; margin-bottom: 8px;}
#themeTravel ul {overflow: hidden;}
#themeTravel ul li {float: left; width: 91px; height: 98px;}
#themeTravel ul li a {float: left; display: block; width: 90px; height: 98px; }
#themeTravel ul li a .thumb {display: block; margin: auto;  background-image: url(../img/icon.png);}
#themeTravel ul li:nth-child(1) a .thumb {width: 38px; height: 43px; margin-top: 18px; margin-bottom: 12px; background-position: -362px -595px}
#themeTravel ul li:nth-child(2) a .thumb {width: 38px; height: 37px; margin-top: 21px; margin-bottom: 15px; background-position: 0 -79px}
#themeTravel ul li:nth-child(3) a .thumb {width: 55px; height: 39px; margin-top: 21px; margin-bottom: 14px; background-position: -47px -80px}
#themeTravel ul li:nth-child(4) a .thumb {width: 46px; height: 43px; margin-top: 19px; margin-bottom: 11px; background-position: -112px -80px}
#themeTravel ul li:nth-child(5) a .thumb {width: 44px; height: 47px; margin-top: 19px; margin-bottom: 7px; background-position: -168px -79px}
#themeTravel ul li:nth-child(6) a .thumb {width: 40px; height: 45px; margin-top: 18px; margin-bottom: 10px; background-position: 0 -534px}
#themeTravel ul li a .info {display: block; text-align: center; font-size: 14px;}
#themeTravel ul li a:hover .info {color: #0daa62;}

/* #container .serchWrap .rightArea ~ */
#freeTravel {position: relative; padding: 21px 30px 0; margin-bottom: 20px; height: 367px; background-color: #fff;}
#freeTravel h2 {margin-bottom: 18px;}
#freeTravel h2 a {margin-top: -2px;}
#freeTravel h2 a:after {margin-top: -3px;}
#freeTravel .freeSerch {/*overflow: hidden;*/ width: 440px; height: 99px;}
#freeTravel .freeSerch .serchBar {float: left; width: 340px; margin-bottom: 13px;}
#freeTravel .freeSerch .serchBar .serchTop {/*overflow: hidden;*/position: relative; z-index: 3;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l {/*position: relative; */float: left; /*width: 165px; height: 38px; background-color: gold;*/}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l input {display: block; position: absolute; top: 0;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .serchTop_btn {position: relative; display: block; padding: 0 0 0 8px; width: 165px; height: 38px; border: 1px solid #ccc; border-radius: 3px; background-color: #f8f8fa; font-size: 14px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .serchTop_btn:before {content: "인천/서울출발"; position: absolute; top: 0px; line-height: 33px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .serchTop_btn:after {content: ""; position: absolute; display: block; top: -1px; right: -1px; width: 38px; height: 38px; border: 1px solid #049050; border-top-right-radius: 3px; border-bottom-right-radius: 3px; background-color: #0daa62;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .serchTop_btn span {position: relative; display: block; z-index: 5;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .serchTop_btn span:after {content: ""; position: absolute; top: 15px; right: 6px; width: 17px; height: 16px; background-image: url(../img/icon.png); background-position: -188px -36px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .freeList {display: none; /*(**)*/ position: absolute; padding: 10px; top: 100%; left: 0; width: 165px; height: 76px; background-color: #fff; border: 1px solid #111;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .freeList li {}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l .freeList li label {display: block; padding: 0 0 0 8px; height: 28px; line-height: 25px; font-size: 14px;}

#freeTravel .freeSerch .serchBar .serchTop .serchTop_l #serchTop_l_btn:focus~ul,
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l ul:hover {display: block;}
#freeTravel #ICN_free:checked~ul li:nth-child(1) label,
#freeTravel #PUS_free:checked~ul li:nth-child(2) label {background-color: #3f4b5b; color: #fff;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l #ICN_free:checked~.serchTop_btn:before {content: "인천/서울출발";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_l #PUS_free:checked~.serchTop_btn:before {content: "부산출발";}


#freeTravel .freeSerch .serchBar .serchTop .serchTop_r {float: right; }
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r input {display: none;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r>label {position: relative; display: block; width: 165px; height: 38px; color: #aaa; border: 1px solid #ccc; border-radius: 3px; background-color: #f8f8fa;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r>label:after {content: "출발일(선택)"; position: absolute; top: 7px; left: 8px; font-size: 14px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r label span {position: absolute; display: block; top: -1px; right: -1px; width: 38px; height: 38px; border: 1px solid #049050; border-top-right-radius: 3px; border-bottom-right-radius: 3px; background-color: #0daa62;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r label span:after {content: ""; position: absolute; top: 10px; left: 10px; width: 17px; height: 16px; background-image: url(../img/icon.png); background-position: 0 -126px;}
/*#freeTravel .freeSerch .serchBar .serchTop .serchTop_r a span {float: left; width: 127px; line-height: 36px; font-size: 14px;}*/
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r a img {float: right;}

#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect {display: none; position: absolute; z-index: 100; top: 0px; left: 0px; padding: 16px 0 10px; width: 340px; height: 473px; background-color: #fff; border: 1px solid #333; text-align: center;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender_title {margin-bottom: 6px; height: 32px; font-size: 18px; line-height: 30px; font-weight: 700;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select {position: relative; margin-bottom: 10px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select a {position: absolute; top: 11px; width: 9px; height: 18px; background-image: url(../img/icon.png); text-indent: -9999px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .next {right: 20px; background-position: -110px -127px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .next:hover {background-position: -72px -127px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .prev {left: 20px; background-position: -91px -127px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .prev:hover {left: 20px; background-position: -53px -127px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list {position: relative; display: inline-block;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list>label{display: block; position: relative; padding: 0 15px; width: 150px; height: 38px; color: #333; font-size: 14px; font-weight: 500; line-height: 35px; border: 1px solid #ccc; text-align: left;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list>label:before {content:"2018년 12월";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list>label:after {content:""; position: absolute; top: 16px; right: 15px; width: 9px; height: 5px; background-image: url(../img/icon.png); background-position: -253px 0;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list ul {display: none; position: absolute; z-index: 1; top: 100%; left: 0; right: 0; margin-top: -1px; padding: 10px; background-color: #fff; border: 1px solid #333; text-align: left;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list ul li {padding-left: 5px; height: 28px; color: #333; font-size: 14px; line-height: 26px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #month:checked~ul {display: block;}

/* checked */
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #month:checked~.month_ap {border-color: #333;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #dec:checked~.month_ap:before {content:"2018년 12월";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #jan:checked~.month_ap:before {content:"2019년 01월";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #feb:checked~.month_ap:before {content:"2019년 02월";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #mar:checked~.month_ap:before {content:"2019년 03월";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #apr:checked~.month_ap:before {content:"2019년 04월";}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list ul li:hover,
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #dec:checked~ul li:nth-child(1),
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #jan:checked~ul li:nth-child(2),
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #feb:checked~ul li:nth-child(3),
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #mar:checked~ul li:nth-child(4),
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .month_select .month_list #apr:checked~ul li:nth-child(5) {color: #fff; background-color: #3f4b5b;}
		
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender {padding-bottom: 10px; border-bottom: 1px solid #ccc;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table {width: 100%; height: 282px; color: #555; font-size: 14px; line-height: 17px; border-collapse: collapse;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr {}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td:nth-child(1),
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr th:nth-child(1) {color: #ed4949}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td:nth-child(7),
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr th:nth-child(7) {color: #297fb8}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr th {height: 36px; border-width: 1px 0; border-color: #ccc;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td {height: 40px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td label {display: block; position: relative; padding-top: 18px; width: 48px; height: 40px; line-height: 17px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td label:hover {background-color: #fff0f0;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td label:before {content:"출발일"; position: absolute; top: 3px; left: 50%; width: 40px; color: #fff; font-size: 11px; font-family: Dotum; letter-spacing: -2px; transform: translateX(-50%); font-weight: normal;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .calender table tr td label:hover:before {color: #fff0f0;}

#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .btn {display: inline-block; margin-top: 20px; padding: 1px 6px; width: 104px; height: 32px; color: #fff; font-size: 0; line-height: 30px; border-radius: 3px; }
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .btn.close {margin-right: 3px; background-color: #aaa; font-size: 12px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .btn.close:hover {background-color: #8e9599;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .btn.complete {margin-left: 3px;background-color: #3f4b5b; font-size: 12px;}
#freeTravel .freeSerch .serchBar .serchTop .serchTop_r .dateSelect .btn.complete:hover {background-color: #323641;}

/*checked~*/ 
#freeTravel #d-1st:checked~table tbody tr td #d-1st_select,
#freeTravel #d-2nd:checked~table tbody tr td #d-2nd_select,
#freeTravel #d-3rd:checked~table tbody tr td #d-3rd_select,
#freeTravel #d-4th:checked~table tbody tr td #d-4th_select,
#freeTravel #d-5th:checked~table tbody tr td #d-5th_select,
#freeTravel #d-6th:checked~table tbody tr td #d-6th_select,
#freeTravel #d-7th:checked~table tbody tr td #d-7th_select,
#freeTravel #d-8th:checked~table tbody tr td #d-8th_select,
#freeTravel #d-09th:checked~table tbody tr td #d-09th_select,
#freeTravel #d-10th:checked~table tbody tr td #d-10th_select,
#freeTravel #d-11th:checked~table tbody tr td #d-11th_select,
#freeTravel #d-12th:checked~table tbody tr td #d-12th_select,
#freeTravel #d-13th:checked~table tbody tr td #d-13th_select,
#freeTravel #d-14th:checked~table tbody tr td #d-14th_select,
#freeTravel #d-15th:checked~table tbody tr td #d-15th_select,
#freeTravel #d-16th:checked~table tbody tr td #d-16th_select,
#freeTravel #d-17th:checked~table tbody tr td #d-17th_select,
#freeTravel #d-18th:checked~table tbody tr td #d-18th_select,
#freeTravel #d-19th:checked~table tbody tr td #d-19th_select,
#freeTravel #d-20th:checked~table tbody tr td #d-20th_select,
#freeTravel #d-21st:checked~table tbody tr td #d-21st_select,
#freeTravel #d-22nd:checked~table tbody tr td #d-22nd_select,
#freeTravel #d-23rd:checked~table tbody tr td #d-23rd_select,
#freeTravel #d-24th:checked~table tbody tr td #d-24th_select,
#freeTravel #d-25th:checked~table tbody tr td #d-25th_select,
#freeTravel #d-26th:checked~table tbody tr td #d-26th_select,
#freeTravel #d-27th:checked~table tbody tr td #d-27th_select,
#freeTravel #d-28th:checked~table tbody tr td #d-28th_select,
#freeTravel #d-29th:checked~table tbody tr td #d-29th_select,
#freeTravel #d-30th:checked~table tbody tr td #d-30th_select,
#freeTravel #d-31st:checked~table tbody tr td #d-31st_select {background-color: #ed4949; color: #fff; font-weight: bold;}
#freeTravel .serchTop_r #dateBtn:checked~.dateSelect {display: block;}


#freeTravel .freeSerch .serchBar .serchBottom {position: relative; margin-top: 10px;}
#freeTravel .freeSerch .serchBar .serchBottom input[type=text] {display: block; padding-left: 8px; width: 340px; height: 38px; border: 1px solid #ccc; border-radius: 3px; background-color: #f8f8fa; font-size: 14px; outline: 0 solid transparent;}
#freeTravel .freeSerch .serchBar .serchBottom input[type=text]:focus {background-color: #ebfbf0; border: 1px solid #0daa62;}
#freeTravel .freeSerch .serchBar .serchBottom input[type=text]::placeholder {color: #111;}
#freeTravel .freeSerch .serchBar .serchBottom input.btn {position: absolute; display: block; top: 0px; right: 0px; width: 38px; height: 38px; border: 1px solid #049050; border-top-right-radius: 3px; border-bottom-right-radius: 3px; background-color: #0daa62; text-indent: -9999px;}
/*#freeTravel .freeSerch .serchBar .serchBottom input:hover {outline: 1px solid #4d90fe;}*/
#freeTravel .freeSerch .serchBar .serchBottom label:after {content: ""; position: absolute; top: 10px; right: 11px; width: 17px; height: 17px; background-image: url(../img/icon.png); background-position: -336px -152px;}

#freeTravel .freeSerch .serchBtn {position: relative; float: right;}
#freeTravel .freeSerch .serchBtn input {display: block; padding-top: 1px; width: 90px; height: 86px; border-radius: 3px; background-color: #3f4b5b; border: 1px solid #323641; text-indent: -9999px;}
#freeTravel .freeSerch .serchBtn label {position: absolute; top: 23px; left: 18px; text-align: center; letter-spacing: -0.1em; font-size: 15px; color: #fff; font-weight: bold;}

#freeTravel .popularList {position: absolute; left: 50%; margin-left: -220px; display: block; /*margin: 0 0 7px 0;*/ width: 440px; height: 21px; text-align: center;}
#freeTravel .popularList li {position: relative; float: left;}
#freeTravel .popularList li+li:before {content: ""; position: absolute; margin-top: -3px; top: 50%; left: 0; width: 1px; height: 10px; background-color: #ccc;}
#freeTravel .popularList li a {padding: 0 10px; font-size: 13px; color: #555; }
#freeTravel .popularList li a:hover {text-decoration: underline;}
#freeTravel .total {display: block; text-align: center; margin-top: 28px;}
#freeTravel .total a {position: relative; padding-right: 13px; font-size: 13px; color: #111; font-weight: bold;}
#freeTravel .total a:after {content: ""; position: absolute; top: 6px; right: 1px; width: 5px; height: 9px; background-image: url(../img/icon.png); background-position: -306px -36px;}
#freeTravel .total a:hover {text-decoration: underline;}

#freeTravel .transport {overflow: hidden; position: absolute; left: 0; bottom: 0; width: 500px; border-top: 1px solid #ddd; }
#freeTravel .transport a {display: block; float: left; width: 125px; height: 130px;}
#freeTravel .transport a:hover {background-color: #ebfbf0;}
#freeTravel .transport a+a {border-left: 1px solid #ddd;}
#freeTravel .transport a span.thumb {display: block; margin: 16px auto 7px; width: 52px; height: 53px; background-image: url(../img/icon.png); background-position-y: -772px;}
#freeTravel .transport a:nth-child(1) span.thumb {background-position-x: 0;}
#freeTravel .transport a:nth-child(2) span.thumb {background-position-x: -62px;}
#freeTravel .transport a:nth-child(3) span.thumb {background-position-x: -124px;}
#freeTravel .transport a:nth-child(4) span.thumb {background-position-x: -186px;}
#freeTravel .transport a span.info {display: block; font-size: 14px; text-align: center;}
#freeTravel .transport a span.info:after {content: ""; display: inline-block; margin: -1px 0 0 5px; width: 14px; height: 15px; background-image: url(../img/icon.png);background-position: -324px -749px; vertical-align: middle; }

#travalPack {margin-bottom: 20px; text-indent: -9999px;}
#travalPack a {display: block; height: 174px; background-image: url(../img/main_01.jpg);}

#travelLink {overflow: hidden; height: 176px;}
#travelLink div {padding: 0 30px; width: 240px; height: 100%;}
#travelLink h2 {margin: 23px 0 18px; color: #fff;}
#travelLink a {position: relative; display: block; height: 34px; padding-left: 11px; margin-bottom: 10px; line-height: 32px; color: #fff; font-size: 15px;}
#travelLink a:after {content: "";position: absolute; top: 50%; margin-top: -5px; right: 10px; width: 5px; height: 9px; background-image: url(../img/icon.png); background-position: -173px -36px;}
#travelLink .countryTravel {float: left; background-color: #ee6d1f;}
#travelLink .countryTravel a {background-color: #e7480a;}
#travelLink .countryTravel a:hover {background-color: #d82f08;}
#travelLink .BusanTravel {float: right; background-color: #596bd7;}
#travelLink .BusanTravel a {background-color: #3f51ba;}
#travelLink .BusanTravel a:hover {background-color: #273aaa;}

/* #container ~ */
#concept {padding: 60px 0; margin-bottom: 40px; height: 604px; background-color: #f5f6f8;}
#concept .conceptBn {}
#concept .conceptBn a {display: block; height: 159px; background-image: url(../img/concepttour.png);}
#concept .conceptCnt {overflow: hidden; margin-top: 20px;}

#concept .conceptCnt .best {}
#concept .conceptCnt .best .best_slider{overflow: hidden; float: left; position: relative; width: 578px; height: 338px; border: 1px solid #ccc;}
#concept .conceptCnt .best .best_slider ul {margin-left: 0%; width: 400%; height: 100%; transition: margin-left 0.6s;}
#concept .conceptCnt .best .best_slider ul li {float: left; width: 25%;}
#concept .conceptCnt .best .best_slider ul li a {display: block;}
#concept .conceptCnt .best .best_slider ul li a img {display: block;}
#concept .conceptCnt .best .best_slider .arrow {display: none; position: absolute; top: 50%; margin-top: -15px; width: 29px; height: 44px; background-color: rgba(0,0,0,0.6); border: 1px solid #333; text-indent: -9999px;}
#concept .conceptCnt .best .best_slider .arrow:hover {background-color: rgba(0,0,0,0.7);}
#concept .conceptCnt .best .best_slider .arrow:after {content:""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -5px; width: 9px; height: 16px; background-image: url(../img/icon.png);}
#concept .conceptCnt .best .best_slider .arrow:after {content:""; position: absolute; top: 50%; left: 50%; margin: -8px 0 0 -5px; width: 9px; height: 16px; background-image: url(../img/icon.png);}
#concept .conceptCnt .best .best_slider .arrow.prev {left: 0;}
#concept .conceptCnt .best .best_slider .arrow.prev:after {background-position: -129px -127px;}
#concept .conceptCnt .best .best_slider .arrow.next {right: 0;}
#concept .conceptCnt .best .best_slider .arrow.next:after {background-position: -148px -127px;}
#concept .conceptCnt .best .best_slider .control_point {position: absolute; bottom: 0px; left: 0; right: 0; padding-top: 18px; height: 44px; text-align: center; font-size: 0;}
#concept .conceptCnt .best .best_slider .control_point label {display: inline-block; width: 12px; height: 12px; border: 2px solid #fff; border-radius: 50%}
#concept .conceptCnt .best .best_slider .control_point label+label { margin-left: 9px;}

#concept .conceptCnt .best .best_slider #best_page01:checked~ul {margin-left: 0%;}
#concept .conceptCnt .best .best_slider #best_page02:checked~ul {margin-left: -100%;}
#concept .conceptCnt .best .best_slider #best_page03:checked~ul {margin-left: -200%;}
#concept .conceptCnt .best .best_slider #best_page04:checked~ul {margin-left: -300%;}

#concept .conceptCnt .best .best_slider #best_page01:checked~.control_arrow .page1,
#concept .conceptCnt .best .best_slider #best_page02:checked~.control_arrow .page2,
#concept .conceptCnt .best .best_slider #best_page03:checked~.control_arrow .page3,
#concept .conceptCnt .best .best_slider #best_page04:checked~.control_arrow .page4 {display: block;}
#concept .conceptCnt .best .best_slider #best_page01:checked~.control_point .page1,
#concept .conceptCnt .best .best_slider #best_page02:checked~.control_point .page2,
#concept .conceptCnt .best .best_slider #best_page03:checked~.control_point .page3,
#concept .conceptCnt .best .best_slider #best_page04:checked~.control_point .page4 {background-color: #fff;}

#concept .conceptCnt .ccsBn {float: right;}
#concept .conceptCnt .ccsBn .bn_l {float: left; }
#concept .conceptCnt .ccsBn .bn_l a {display: block; width: 238px; height: 338px; background-image: url(../img/combine_promotion_01.jpg); border: 1px solid #ddd;}
#concept .conceptCnt .ccsBn .bn_r {float: left; }
#concept .conceptCnt .ccsBn .bn_r a {display: block; margin-left: 20px;	 width: 238px; height: 338px; background-image: url(../img/combine_promotion_02.jpg); border: 1px solid #ddd;}

#modeTraval {}
#modeTraval .modetit {position: relative; margin-bottom: 62px;}
#modeTraval .modetit h2 {font-size: 26px; /*margin-bottom: 20px;*/}
#modeTraval .modetit h2 span {padding-left: 15px; font-size: 15px; color: #888;}
#modeTraval .modetit .modeBanner {}
#modeTraval .modetit .modeBanner input {display: block; position: absolute; left: -9999px;}
#modeTraval .modetit .modeBanner .modeinput {overflow: hidden; position: absolute; top: 0; right: 0; text-align: center;}
#modeTraval .modetit .modeBanner .modeinput label {position: relative; float: left; display: block; width: 132px; line-height: 38px; color: #111; z-index: 80;}
#modeTraval .modetit .modeBanner .modeinput label:hover {background-color: #0daa62; border-radius: 3px; color: #fff; z-index: 2;}
#modeTraval .modetit .modeBanner .modeinput label:hover:before {background-color: #0daa62;}
#modeTraval .modetit .modeBanner .modeinput label+label:before {content: ""; position: absolute; top: 14px; left: 0; width: 1px; height: 14px; background-color: #ddd;}

#modeTraval .modetit .modeBanner #page1:checked~div label[for=page1], /*임시*/
#modeTraval .modetit .modeBanner #page2:checked~div label[for=page2],
#modeTraval .modetit .modeBanner #page3:checked~div label[for=page3],
#modeTraval .modetit .modeBanner #page4:checked~div label[for=page4],
#modeTraval .modetit .modeBanner #page5:checked~div label[for=page5] {background-color: #0daa62; border-radius: 3px; color: #fff; z-index: 10;}
#modeTraval .modetit .modeBanner .modebnSlide {}

#modeTraval .modetit .modeBanner .modebnCnt {position: relative;}
#modeTraval .modetit .modeBanner .modebnCnt li {padding-top: 20px;}
#modeTraval .modetit .modeBanner .modebnCnt li.page2,
#modeTraval .modetit .modeBanner .modebnCnt li.page3,
#modeTraval .modetit .modeBanner .modebnCnt li.page4,
#modeTraval .modetit .modeBanner .modebnCnt li.page5 {position: absolute; top: 0; left: 0; display: none; z-index: 3;}
#modeTraval .modetit .modeBanner .modebnCnt li:hover {display: block;}
#modeTraval .modetit .modeBanner #page1:hover~ul li.page1 {display: block;}
#modeTraval .modetit .modeBanner #page2:hover~ul li.page2 {display: block;}
#modeTraval .modetit .modeBanner #page3:hover~ul li.page3 {display: block;}
#modeTraval .modetit .modeBanner #page4:hover~ul li.page4 {display: block;}
#modeTraval .modetit .modeBanner #page5:hover~ul li.page5 {display: block;}
#modeTraval .modetit .modeBanner .modebnCnt li a {display: block;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageTop {display: block;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageTop .thumb {display: block;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageTop .thumb a {}
#modeTraval .modetit .modeBanner .modebnCnt li .pageTop .thumb a img {height: 340px;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt {overflow: hidden;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb {float: left; margin-top: 20px;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb+.thumb {margin-left: 20px; }
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a {}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a img {width: 260px; height: 380px;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a .shadow {position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color: #000; opacity: 0;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a:hover .shadow {display: block; opacity: 0.4; transition: opacity 1s;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a .text {position: absolute; top: 50%; left: 50%; margin: -20px 0 0 -62px; width: 124px; height: 40px; font-weight: bold; font-size: 14px; line-height: 37px; text-align: center; color: #fff; border: 2px solid #fff; opacity: 0;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a:hover .text {display: block; opacity: 1; transition: opacity 1s;}
#modeTraval .modetit .modeBanner .modebnCnt li .pageCnt .thumb a .text:hover {background-color: #fff; color: #111;}


#event {margin-bottom: 48px;}
#event .eventtit {position: relative; }
#event .eventtit h2 {font-size: 26px; margin-bottom: 15px;}
#event .eventtit h2 span {padding-left: 15px; font-size: 15px; color: #888;}
#event .eventCnt div a {display: block;}
#event .eventCnt {overflow: hidden; width: 1100px;}
#event .eventCnt>div {float: left; border: 1px solid #ccc;}
#event .eventCnt>div:nth-child(n+4) {margin-top: -1px;}
#event .eventCnt>div:nth-child(3) {margin-left: -1px;}
#event .eventCnt>div:nth-child(6) {margin-left: -1px;}

#event .eventCnt .hyundai {}
#event .eventCnt .hyundai a {width: 278px;}

#event .eventCnt .eventSlide {overflow: hidden; position: relative; width: 540px;}
#event .eventCnt .eventSlide ul {overflow: hidden; margin-left: 0; width: 600%; animation: eventSlider 15s infinite;}
#event .eventCnt .eventSlide ul li {float: left; width: 16.6666%;}
#event .eventCnt .eventSlide ul li a {display: block;}
#event .eventCnt .eventSlide .eventPage {overflow: hidden; position: absolute; bottom: 15px; left: 50%; margin-left: -64px;}
#event .eventCnt .eventSlide .eventPage i {float: left; display: block; margin-left: 10px; width: 12px; height: 12px; background-image: url(../img/icon.png); background-position: -370px -377px; animation: eventPage 15s infinite;}
#event .eventCnt .eventSlide .eventPage i:nth-of-type(1) {animation-delay: 0s;}
#event .eventCnt .eventSlide .eventPage i:nth-of-type(2) {animation-delay: 3s;}
#event .eventCnt .eventSlide .eventPage i:nth-of-type(3) {animation-delay: 6s;}
#event .eventCnt .eventSlide .eventPage i:nth-of-type(4) {animation-delay: 9s;}
#event .eventCnt .eventSlide .eventPage i:nth-of-type(5) {animation-delay: 12s;}
#event .eventCnt .eventSlide .eventPage a {float: left; margin-left: 10px; width: 9px; height: 11px; border-width: 0 2px; border-color: #fff;}

#event .eventCnt .mileage {}
#event .eventCnt .mileage a {width: 279px;}
#event .eventCnt .specialPrice {}
#event .eventCnt .specialPrice a {width: 278px;}

#event .eventCnt .eventService {width: 540px; height: 276px;}
#event .eventCnt .eventService .iconPage {padding: 28px 30px 0;}
#event .eventCnt .eventService .iconPage h3 {margin-bottom: 35px; color: #111; font-size: 16px; font-weight: bold;}
#event .eventCnt .eventService .iconPage ul {}
#event .eventCnt .eventService .iconPage ul li {float: left; margin-bottom: 30px; width: 119px; height: 62px; color: #555; font-size: 13px; text-align: center;}
#event .eventCnt .eventService .iconPage ul li a {display: block;}
#event .eventCnt .eventService .iconPage ul li a span {display: block; margin: auto;}
#event .eventCnt .eventService .iconPage ul li:hover a span {color: #0daa62;}
#event .eventCnt .eventService .iconPage ul li a .icon {margin-bottom: 10px; background-image: url(../img/icon.png);}
#event .eventCnt .eventService .iconPage ul li:nth-child(1) a .icon {width: 32px; height: 32px; background-position: 0px -453px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(2) a .icon {width: 26px; height: 32px; background-position: -84px -453px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(3) a .icon {margin-bottom: 13px; width: 38px; height: 29px; background-position: -156px -451px}
#event .eventCnt .eventService .iconPage ul li:nth-child(4) a .icon {margin-bottom: 14px; width: 43px; height: 28px; background-position: -252px -451px}
#event .eventCnt .eventService .iconPage ul li:nth-child(5) a .icon {margin-bottom: 14px; width: 35px; height: 31px; background-position: 0px -493px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(6) a .icon {margin-bottom: 12px; width: 36px; height: 33px; background-position: -90px -494px}
#event .eventCnt .eventService .iconPage ul li:nth-child(7) a .icon {margin-bottom: 16px; width: 38px; height: 29px; background-position: -180px -491px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(8) a .icon {margin-bottom: 7px; width: 46px; height: 38px; background-position: -276px -494px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(1):hover a .icon {background-position-x: -42px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(2):hover a .icon {background-position-x: -120px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(3):hover a .icon {background-position-x: -204px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(4):hover a .icon {background-position-x: -305px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(5):hover a .icon {background-position-x: -45px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(6):hover a .icon {background-position-x: -135px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(7):hover a .icon {background-position-x: -228px;}
#event .eventCnt .eventService .iconPage ul li:nth-child(8):hover a .icon {background-position-x: -331px;}

#event .eventCnt .sale {}
#event .eventCnt .sale a {width: 279px;}

#serviceCenter {overflow: hidden; padding: 34px 0 80px; background-color: #f5f6f8;}
#serviceCenter div h3 {margin-bottom: 19px; font-size: 18px; font-weight: bold; letter-spacing: -2px}
#serviceCenter .customer {float: left;}
#serviceCenter .customer .customerCnt {height: 356px; border-top: 2px solid #333;}
#serviceCenter .customer .customerCnt .customer_l{float: left; width: 229px; height: 100%; padding: 39px 30px 0; background-color: #e6e7eb;}
#serviceCenter .customer .customerCnt .customer_l h4 {color: #111; font-size: 15px; font-weight: bold; ;}
#serviceCenter .customer .customerCnt .customer_l strong {display: block; margin-bottom: 30px; color: #3f4b5b; font-size: 30px; line-height: 40px; font-family: Tahoma;}
#serviceCenter .customer .customerCnt .customer_l h5 { margin-bottom: 8px; color: #111; font-size: 15px; font-weight: bold;}
#serviceCenter .customer .customerCnt .customer_l .phone {display: block; margin-bottom: 8px; color: #111; font-size: 20px; font-family: tahoma;}
#serviceCenter .customer .customerCnt .customer_l .air {margin-bottom: 9px; color: #111; font-size: 13px; font-weight: bold; line-height: 23px;}
#serviceCenter .customer .customerCnt .customer_l .air span {font-weight: normal;}
#serviceCenter .customer .customerCnt .customer_l .air i {padding-left: 22px; color: #555; font-weight: normal;}
#serviceCenter .customer .customerCnt .customer_r {float: left; padding-top: 22px; width: 574px; height: 100%; background-color: #fff;}
#serviceCenter .customer .customerCnt .customer_r h5 {position: relative; margin-bottom: 4px; padding-bottom: 9px; color: #111; font-weight: bold; border-bottom: 1px solid #ccc}
#serviceCenter .customer .customerCnt .customer_r>a {position: absolute; top: 2px; right: 0; padding-right: 10px; font-size: 12px; font-weight: normal; color: #555;}
#serviceCenter .customer .customerCnt .customer_r>a:hover {color: #297fb8; text-decoration: underline;}
#serviceCenter .customer .customerCnt .customer_r>a:after {content:""; position: absolute; top: 6px; right: 0; width: 5px; height: 9px; background-image: url(../img/icon.png); background-position: -158px -50px;}
#serviceCenter .customer .customerCnt .customer_r>a:hover:after {background-position-x: -173px;}
#serviceCenter .customer .customerCnt .customer_r div {float: left; font-size: 13px; line-height: 22px;}
#serviceCenter .customer .customerCnt .customer_r .ars {position: relative; margin-left: 30px; width: 233px;}
#serviceCenter .customer .customerCnt .customer_r .ars li {position: relative;}
#serviceCenter .customer .customerCnt .customer_r .ars li strong {position: absolute; top: 0; left: 0; font-weight: bold; color: #111;}
#serviceCenter .customer .customerCnt .customer_r .ars li span {margin-left: 28px; color: #555;}
#serviceCenter .customer .customerCnt .customer_r .service {margin-left: 30px; width: 238px;}
#serviceCenter .customer .customerCnt .customer_r .service li {}
#serviceCenter .customer .customerCnt .customer_r .service li+li {margin-top: 13px;}
#serviceCenter .customer .customerCnt .customer_r .service li strong {display: block; margin-bottom: 5px; color: #111; line-height: 17px;}
#serviceCenter .customer .customerCnt .customer_r .service li em {position: relative; display: block; line-height: 21px; color: #555;}
#serviceCenter .customer .customerCnt .customer_r .service li em a {display: block; position: absolute; top: 0; left: 0;}
#serviceCenter .guide {float: right; width: 277px;}
#serviceCenter .guide ul {overflow: hidden;}
#serviceCenter .guide ul li {float: left; width: 138px; border: 1px solid #ccc; }
#serviceCenter .guide ul li:nth-child(even) {margin-left: -1px;}
#serviceCenter .guide ul li:nth-child(n+3) {margin-top: -1px;}
#serviceCenter .guide ul li a {display: block; position: relative; height: 88px; line-height: 81px; color: #555; font-size: 14px; text-align: center;}
#serviceCenter .guide ul li a span {display: inline-block; vertical-align: middle; line-height: normal;}
#serviceCenter .guide ul li a:hover:after {content:""; position: absolute; top: -1px; bottom: -1px; left: -1px; right: -1px; border: 1px solid #333;}

#serviceCenter .familySite {float: left; width: 803px; margin-top: 33px;}
#serviceCenter .familySite a {float: left;}
#serviceCenter .familySite a+a {margin-left: 40px;}
#serviceCenter .familySite a .icon {display: block; margin: 0 auto 15px; width: 55px; height: 55px; background-image: url(../img/icon.png);}
#serviceCenter .familySite a:nth-child(1) .icon {background-position: 0px -230px;}
#serviceCenter .familySite a:nth-child(2) .icon {background-position: 0px -365px;}
#serviceCenter .familySite a:nth-child(3) .icon {background-position: -260px -230px;}
#serviceCenter .familySite a:nth-child(4) .icon {background-position: 0px -295px;}
#serviceCenter .familySite a:nth-child(5) .icon {background-position: -130px -295px;}
#serviceCenter .familySite a:nth-child(6) .icon {background-position: -260px -295px;}
#serviceCenter .familySite a:nth-child(7) .icon {background-position: -1px -655px;}
#serviceCenter .familySite a:nth-child(8) .icon {background-position: -131px -655px;}
#serviceCenter .familySite a:hover:nth-child(1) .icon {background-position: -65px -230px;}
#serviceCenter .familySite a:hover:nth-child(2) .icon {background-position: -64px -365px;}
#serviceCenter .familySite a:hover:nth-child(3) .icon {background-position: -325px -230px;}
#serviceCenter .familySite a:hover:nth-child(4) .icon {background-position: -65px -295px;}
#serviceCenter .familySite a:hover:nth-child(5) .icon {background-position: -195px -295px;}
#serviceCenter .familySite a:hover:nth-child(6) .icon {background-position: -325px -295px;}
#serviceCenter .familySite a:hover:nth-child(7) .icon {background-position: -66px -655px;}
#serviceCenter .familySite a:hover:nth-child(8) .icon {background-position: -196px -655px;}
#serviceCenter .familySite a .tit {display: block; text-align: center; color: #555; font-size: 13px; line-height: 20px;}
#serviceCenter .familySite a:hover .tit {color: #111;}

#serviceCenter .notice {float: right; width: 277px; margin-top: 33px;}
#serviceCenter .notice ul {}
#serviceCenter .notice ul li {}
#serviceCenter .notice ul li+li {margin-top: 13px;}
#serviceCenter .notice ul li a {overflow: hidden; display: block; color: #555; font-size: 13px;}
#serviceCenter .notice ul li a span {float: left; display: block; width: 200px;}
#serviceCenter .notice ul li:hover a span {text-decoration: underline;}
#serviceCenter .notice ul li a em {float: right; color: #888;}


/* KEYFRAMES */

@keyframes eventSlider {
	0% {margin-left: -0%;}
	13% {margin-left: -0%;}
	20% {margin-left: -100%;}
	33% {margin-left: -100%;}
	40% {margin-left: -200%;}
	53% {margin-left: -200%;}
	60% {margin-left: -300%;}
	73% {margin-left: -300%;}
	80% {margin-left: -400%;}
	93% {margin-left: -400%;}
	100% {margin-left: -500%;}
}

@keyframes eventPage {
	0% {background-position: -370px -355px;}
	12.9999999999% {background-position: -370px -355px;}
	13% {background-position: -370px -377px;;}
	100% {background-position: -370px -377px;;}

}

/* DIDIAQUERY */